<a href="https://colab.research.google.com/github/johnczontos/BellarmineSummerDays/blob/Types/Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Text Types:

In [6]:
# string: str
# there are multiple ways to define a string in python

# single and double quotes do exactly the same thing
print('words "go" here')
print("go \n bells")

# most languages use chars as a primitive data type
# python does not, instead single characters can be
# expressed as strings of length 1
print(type('c'))

# tripple quotes allow you to define multiline strings
# raw string literals
print("""
omae wa mo shindeiru
NANI

    asdf
""")

words "go" here
go
 bells
<class 'str'>
omae wa mo shindeiru
NANI

    asdf

##Numeric Types:

In [7]:
# int
print(type(7))
print(type(0))
print(type(-7))
print(type(5//2))
print(type(5**2))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [12]:
# float
print(type(7.1))
print(type(10.))
print(type(4 / 2))
print(type(5.0 // 2.0))
print(type(5**(1/2)))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

8

In [44]:
# complex
# dont worry about these just know they're there
x = 2+3j

print(x)
print(type(x))

(2+3j)
<class 'complex'>

## Boolean Type:

In [16]:
# bool
x = True
y = False
print(x, type(x))
print(y, type(y))

x = bool("abc")
y = bool("")
print(x, type(x))
print(y, type(y))

x = bool(123)
y = bool(0)
print(x, type(x))
print(y, type(y))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>
False <class 'bool'>
True <class 'bool'>
False <class 'bool'>

## Sequence Types:

In [ ]:
# list          **collection**

# List items are ordered, changeable, and allow duplicate values.
# List items are indexed,
# the first item has index [0], the second item has index [1] etc.


x = ["apple", "banana", "cherry"]
print(type(x))

In [ ]:
# tuple         **collection**

# Tuple items are ordered, unchangeable, and allow duplicate values
# List items are indexed.

x = ("apple", "banana", "cherry")
print(type(x))

In [20]:
# range

# A range is a sequence of numbers,
#  starting from 0 by default,
#  and increments by 1 (by default),
#  and stops before a specified number.


# range(start, stop, step)
x = range(0, 10, 2)
print(x)
print(type(x))

for i in range(10):
    print(i)

# range(stop)
x = range(10)
print(x)
print(type(x))

range(0, 10, 2)
<class 'range'>
0
1
2
3
4
5
6
7
8
9
range(0, 10)
<class 'range'>

##Mapping Type:

In [22]:
# dictionary        **collection**

# Dictionaries are used to store data values in key:value pairs.
# A dictionary is a collection which is ordered,
#  changeable and does not allow duplicates.

x = {"name" : "John", "age" : 21, "favorite_color" : "green"}
print(x)


x = {
    "name" : "John",
    "age" : 21,
    "favorite_color" : "green"
}
print(x)


# notice dicts do not allow duplicates so
# in this example the value with key "age" gets overwriten
x = {
    "name" : "John",
    "age" : 21,
    "favorite_color" : "green",
    "age" : 18
}
print(x)


print(type(x))

{'name': 'John', 'age': 21, 'favorite_color': 'green'}
{'name': 'John', 'age': 21, 'favorite_color': 'green'}
{'name': 'John', 'age': 18, 'favorite_color': 'green'}
<class 'dict'>

## Set Types:

In [47]:
# set           **collection**

# Set items are unordered, 
#   changeable, and do not allow duplicate values.
# NOT INDEXED

x = {"apple", "banana", "cherry"}
print(x)

x = {"apple", "banana", "cherry", "apple"}
print(x)

print(type(x))

{'cherry', 'apple', 'banana'}
{'cherry', 'apple', 'banana'}
<class 'set'>

In [48]:
# frozenset     **collection**

# frozenset type is an immutable version of the set
# which means it cannot be changed after creation
# dont worry too much about this one

x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

## Binary Types:

In [ ]:
# bytesf

In [ ]:
# bytearray

In [ ]:
# memoryview